@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web;
@{ Layout = "master.cshtml"; }
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">
        <p>Test Render Mvc Route 2</p>
    </div>

</section>