@inherits Umbraco.Web.Mvc.UmbracoViewPage<MaintenanceMode.SiteV8.Models.TestModel>
@using Umbraco.Web;
@{ Layout = "master.cshtml"; }
@Html.Partial("~/Views/Partials/SectionHeader.cshtml")

<section class="section">

    <div class="container">
        <p>Test Render Mvc Route</p>
    </div>

</section>